<configuration>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json"/>
    <add key="TestSource" value="https://test.example.com/v3/index.json"/>
  </packageSources>
  <packageSourceMapping>
    <packageSource key="TestSource">
      <package pattern="FooBar.Test.*"/>
    </packageSource>
  </packageSourceMapping>
  <disabledPackageSources>
    <add key="TestSource" value="true"/>
  </disabledPackageSources>
</configuration>
